@model CarritoFinal.Models.Producto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
</head>
<body>
    <form asp-controller="Producto" asp-action="editarProducto" method="post">

        <legend>Editar</legend>
        <div class="mb-3">

            <input type="hidden" asp-for="CdProducto" id="txtcodigo" class="form-control" placeholder="Codigo Producto">
        </div>
        <div class="mb-3">
            <label for="txtnombre" class="form-label">Nombre</label>
            <input asp-for="Nombre" id="txtnombre" class="form-control" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <label for="txtdescripcion" class="form-label">Descripcion</label>
            <input asp-for="Descripcion" id="txtdescripcion" class="form-control" placeholder="Descripcion">
        </div>
        <div class="mb-3">
            <label for="txtmarca" class="form-label">Marca</label>
            <input asp-for="CdMarca" id="txtmarca" class="form-control" placeholder="Descripcion">
        </div>
        <div class="mb-3">
            <label for="txtcategoria" class="form-label">Categoria</label>
            <input asp-for="CdCategoria" id="txtcategoria" class="form-control" placeholder="Categoria">
        </div>
        <div class="mb-3">
            <label for="txtprecio" class="form-label">Precio</label>
            <input asp-for="Precio" id="txtprecio" class="form-control" placeholder="Precio">
        </div>
        <div class="mb-3">
            <label for="txtstock" class="form-label">Stock</label>
            <input asp-for="Stock" id="txtstock" class="form-control" placeholder="Stock">
        </div>
        <div class="mb-3">
            <label for="cboactivo" class="form-label">Estado</label>
            <select id="cboactivo" class="form-select" asp-for="Activo">
                <option value="True">Activo</option>
                <option value="False">Inactivo</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Modificar</button>
    </form>
</body>
</html>